.service-card{
    background-color: #000E44;
    color: white;
}
.service-img{
    width: 80px;
    height: 60px;
}
.link-btn{
    text-decoration: none;
    color: #00E5CC;
}
.link-btn:hover{
    color: #00E5CC;
}